BACKEND_HOST=localhost

# estos son los puertos en los que minio estara expuesto
# en tu entorno local (localhost)

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# nombre del contenedor minio

MINIO_CONTAINER_NAME=minio_compose

# Host de conexcion para el cliente python de minio
MINIO_HOST=${BACKEND_HOST}:${MINIO_PORT}
# Credenciales de usuario administrador

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=password

# claves de conexcion
# deben generarse a traves de la consola de minio
# la consola se expone en el puerto MINIO_CONSOLE_PORT
# es una interfaz grafica

MINIO_ACCESS_KEY=DEBES_GENERARLA
MINIO_SECRET_KEY=DEBES_GENERARLA

# nombre del bucket donde guardaremos los documentos

DOCUMENTS_BUCKET_NAME=bucket_playground

# Configuracion para mongo
# seguro se expandira una vez usemos el conector

MONGO_CONTAINER_NAME=mongo_compose

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password

MONGO_PORT=27017