<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias Tecnologicas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav class="encabezado">
            <div class="container-logo">
                <a href="/"><img src="#" alt="">NextTec</a>
            </div>
        </nav>
        <nav class="navbar">
            <div class="nav-actions">
              <div class="search-wrap">
                <button class="search-btn" aria-label="search-btn">
                  <svg
                    class="nav-icon-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="rgba(255,255,255,1)"
                  >
                    <path
                      d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"
                    >
                    </path>
                  </svg>
                </button>
                <input class="search-input" type="search" placeholder="Search" />
              </div>
            </div>
          </nav>
    </header>

    <h1>Temas</h1>

    <div class="wrapper">
        <a href="#" id="cascade-link">
            <span>boton 1</span>
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="-44" width="3" height="44" />
                <rect x="3" y="-44" width="3" height="44" />
                <rect x="6" y="-44" width="3" height="44" />
                <rect x="9" y="-44" width="3" height="44" />
                <rect x="12" y="-44" width="3" height="44" />
                <rect x="15" y="-44" width="3" height="44" />
                <rect x="18" y="-44" width="3" height="44" />
                <rect x="21" y="-44" width="3" height="44" />
                <rect x="24" y="-44" width="3" height="44" />
                <rect x="27" y="-44" width="3" height="44" />
                <rect x="30" y="-44" width="3" height="44" />
                <rect x="33" y="-44" width="3" height="44" />
                <rect x="36" y="-44" width="3" height="44" />
                <rect x="39" y="-44" width="3" height="44" />
                <rect x="42" y="-44" width="3" height="44" />
                <rect x="45" y="-44" width="3" height="44" />
                <rect x="48" y="-44" width="3" height="44" />
                <rect x="51" y="-44" width="3" height="44" />
                <rect x="54" y="-44" width="3" height="44" />
                <rect x="57" y="-44" width="3" height="44" />
                <rect x="60" y="-44" width="3" height="44" />
                <rect x="63" y="-44" width="3" height="44" />
                <rect x="66" y="-44" width="3" height="44" />
                <rect x="69" y="-44" width="3" height="44" />
                <rect x="72" y="-44" width="3" height="44" />
                <rect x="75" y="-44" width="3" height="44" />
                <rect x="78" y="-44" width="3" height="44" />
                <rect x="81" y="-44" width="3" height="44" />
                <rect x="84" y="-44" width="3" height="44" />
                <rect x="87" y="-44" width="3" height="44" />
                <rect x="90" y="-44" width="3" height="44" />
                <rect x="93" y="-44" width="3" height="44" />
                <rect x="96" y="-44" width="3" height="44" />
                <rect x="99" y="-44" width="3" height="44" />
                <rect x="102" y="-44" width="3" height="44" />
                <rect x="105" y="-44" width="3" height="44" />
                <rect x="108" y="-44" width="3" height="44" />
            </svg>
        </a>
        <!-- Add three more buttons here -->
        <a href="#" id="button-2">
            <span>boton 2</span>
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="-44" width="3" height="44" />
                <rect x="3" y="-44" width="3" height="44" />
                <rect x="6" y="-44" width="3" height="44" />
                <rect x="9" y="-44" width="3" height="44" />
                <rect x="12" y="-44" width="3" height="44" />
                <rect x="15" y="-44" width="3" height="44" />
                <rect x="18" y="-44" width="3" height="44" />
                <rect x="21" y="-44" width="3" height="44" />
                <rect x="24" y="-44" width="3" height="44" />
                <rect x="27" y="-44" width="3" height="44" />
                <rect x="30" y="-44" width="3" height="44" />
                <rect x="33" y="-44" width="3" height="44" />
                <rect x="36" y="-44" width="3" height="44" />
                <rect x="39" y="-44" width="3" height="44" />
                <rect x="42" y="-44" width="3" height="44" />
                <rect x="45" y="-44" width="3" height="44" />
                <rect x="48" y="-44" width="3" height="44" />
                <rect x="51" y="-44" width="3" height="44" />
                <rect x="54" y="-44" width="3" height="44" />
                <rect x="57" y="-44" width="3" height="44" />
                <rect x="60" y="-44" width="3" height="44" />
                <rect x="63" y="-44" width="3" height="44" />
                <rect x="66" y="-44" width="3" height="44" />
                <rect x="69" y="-44" width="3" height="44" />
                <rect x="72" y="-44" width="3" height="44" />
                <rect x="75" y="-44" width="3" height="44" />
                <rect x="78" y="-44" width="3" height="44" />
                <rect x="81" y="-44" width="3" height="44" />
                <rect x="84" y="-44" width="3" height="44" />
                <rect x="87" y="-44" width="3" height="44" />
                <rect x="90" y="-44" width="3" height="44" />
                <rect x="93" y="-44" width="3" height="44" />
                <rect x="96" y="-44" width="3" height="44" />
                <rect x="99" y="-44" width="3" height="44" />
                <rect x="102" y="-44" width="3" height="44" />
                <rect x="105" y="-44" width="3" height="44" />
                <rect x="108" y="-44" width="3" height="44" />
            </svg>
        </a>
        <a href="#" id="button-3">
            <span>boton 3</span>
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="-44" width="3" height="44" />
                <rect x="3" y="-44" width="3" height="44" />
                <rect x="6" y="-44" width="3" height="44" />
                <rect x="9" y="-44" width="3" height="44" />
                <rect x="12" y="-44" width="3" height="44" />
                <rect x="15" y="-44" width="3" height="44" />
                <rect x="18" y="-44" width="3" height="44" />
                <rect x="21" y="-44" width="3" height="44" />
                <rect x="24" y="-44" width="3" height="44" />
                <rect x="27" y="-44" width="3" height="44" />
                <rect x="30" y="-44" width="3" height="44" />
                <rect x="33" y="-44" width="3" height="44" />
                <rect x="36" y="-44" width="3" height="44" />
                <rect x="39" y="-44" width="3" height="44" />
                <rect x="42" y="-44" width="3" height="44" />
                <rect x="45" y="-44" width="3" height="44" />
                <rect x="48" y="-44" width="3" height="44" />
                <rect x="51" y="-44" width="3" height="44" />
                <rect x="54" y="-44" width="3" height="44" />
                <rect x="57" y="-44" width="3" height="44" />
                <rect x="60" y="-44" width="3" height="44" />
                <rect x="63" y="-44" width="3" height="44" />
                <rect x="66" y="-44" width="3" height="44" />
                <rect x="69" y="-44" width="3" height="44" />
                <rect x="72" y="-44" width="3" height="44" />
                <rect x="75" y="-44" width="3" height="44" />
                <rect x="78" y="-44" width="3" height="44" />
                <rect x="81" y="-44" width="3" height="44" />
                <rect x="84" y="-44" width="3" height="44" />
                <rect x="87" y="-44" width="3" height="44" />
                <rect x="90" y="-44" width="3" height="44" />
                <rect x="93" y="-44" width="3" height="44" />
                <rect x="96" y="-44" width="3" height="44" />
                <rect x="99" y="-44" width="3" height="44" />
                <rect x="102" y="-44" width="3" height="44" />
                <rect x="105" y="-44" width="3" height="44" />
                <rect x="108" y="-44" width="3" height="44" />
            </svg>
        </a>
        <a href="#" id="button-4">
            <span>boton 4</span>
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="-44" width="3" height="44" />
                <rect x="3" y="-44" width="3" height="44" />
                <rect x="6" y="-44" width="3" height="44" />
                <rect x="9" y="-44" width="3" height="44" />
                <rect x="12" y="-44" width="3" height="44" />
                <rect x="15" y="-44" width="3" height="44" />
                <rect x="18" y="-44" width="3" height="44" />
                <rect x="21" y="-44" width="3" height="44" />
                <rect x="24" y="-44" width="3" height="44" />
                <rect x="27" y="-44" width="3" height="44" />
                <rect x="30" y="-44" width="3" height="44" />
                <rect x="33" y="-44" width="3" height="44" />
                <rect x="36" y="-44" width="3" height="44" />
                <rect x="39" y="-44" width="3" height="44" />
                <rect x="42" y="-44" width="3" height="44" />
                <rect x="45" y="-44" width="3" height="44" />
                <rect x="48" y="-44" width="3" height="44" />
                <rect x="51" y="-44" width="3" height="44" />
                <rect x="54" y="-44" width="3" height="44" />
                <rect x="57" y="-44" width="3" height="44" />
                <rect x="60" y="-44" width="3" height="44" />
                <rect x="63" y="-44" width="3" height="44" />
                <rect x="66" y="-44" width="3" height="44" />
                <rect x="69" y="-44" width="3" height="44" />
                <rect x="72" y="-44" width="3" height="44" />
                <rect x="75" y="-44" width="3" height="44" />
                <rect x="78" y="-44" width="3" height="44" />
                <rect x="81" y="-44" width="3" height="44" />
                <rect x="84" y="-44" width="3" height="44" />
                <rect x="87" y="-44" width="3" height="44" />
                <rect x="90" y="-44" width="3" height="44" />
                <rect x="93" y="-44" width="3" height="44" />
                <rect x="96" y="-44" width="3" height="44" />
                <rect x="99" y="-44" width="3" height="44" />
                <rect x="102" y="-44" width="3" height="44" />
                <rect x="105" y="-44" width="3" height="44" />
                <rect x="108" y="-44" width="3" height="44" />
            </svg>
        </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/EasePack.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
