<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="encabezado">
            <div class="container-fluid">
                <div class="container-logo">
                    <a href="/"><img src="#" alt="">NextTec</a>
                </div>
            </div>
        </nav>
        <nav class="nav">
            <ul class="barra">
                <li><a class="categoria" href="/">titulo1</a></li>
                <li><a class="categoria" href="/">titulo2</a></li>
                <li><a class="categoria" href="/">titulo3</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>